.nav {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;
    justify-content: center;
}

.nav__logo {
    font-family: 'Consolas','Courier New', Courier, monospace; 
    font-size: 40px;
    font-style: italic;
    width: 30%;
}

.nav__nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 20%;
}

.nav-links__link {
    margin: 0 2rem;
}

.fake-link {
    cursor: pointer;
}